.App {
    display: flex;
    justify-content:center;
    align-items:center;
    width: 600px;
    height: 200px;
    border: 1px solid #FF9254;
    box-shadow: 0 2px 2px 0 #FFEDE3;
    border-radius: 40px;
    margin: 150px auto;
}